<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Menu</title>
        <style>
            body {
                display: flex;
                flex-direction: column;
                background-color: #2d2d2d;
                gap: 20vmin;
                margin: 15%;
                margin-top: 10%;
                margin-bottom: 10%;
                overflow-x: hidden;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
            .right {
                display: flex;
                flex-direction: row-reverse;
                transition: transform 0.3s;
            }
            .left {
                display: flex;
                flex-direction: row;
                transition: transform 0.3s;
            }
            .right:hover {
                transform: scale(120%) translate(-10vw, 0);
            }
            .left:hover {
                transform: scale(120%) translate(10vw, 0);
            }
            .boardPreview {
                max-width: 50vw;
                max-height: 60vh;
                cursor: pointer;
            }
            ::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }
            ::-webkit-scrollbar-thumb {
                background-color: #535353;
            }
            ::-webkit-scrollbar-track {
                background: transparent;
            }
        </style>
    </head>
    <body>
        <div class="right">
            <img
                src="board1.svg"
                board-id="board1"
                start-range="0"
                end-range="2"
                class="boardPreview"
            />
        </div>

        <div class="left">
            <img
                src="board2.svg"
                board-id="board2"
                start-range="2"
                end-range="6"
                class="boardPreview"
            />
        </div>

        <div class="right">
            <img
                src="board3.svg"
                board-id="board3"
                start-range="2"
                end-range="5"
                class="boardPreview"
            />
        </div>
    </body>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script>
        const socket = io(
            `${window.location.protocol}//${window.location.hostname}:${window.location.port}`,
        )

        /*
        0: white
        1: black
        2: red
        3: green
        4: blue
        5: yellow
        */
        document.querySelectorAll('.boardPreview').forEach((board) => {
            board.addEventListener('click', function () {
                const boardId = this.getAttribute('board-id')
                const startRange = parseInt(this.getAttribute('start-range'), 10)
                const endRange = parseInt(this.getAttribute('end-range'), 10)

                socket.emit('new-room', boardId, startRange, endRange)
                socket.on('room-added', (newRoomId, creatorKey) => {
                    window.location.href = '/room/' + newRoomId + '/' + creatorKey
                })
            })
        })
    </script>
</html>
