<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="../../css/roomstyle.css">

    <meta charset="utf-8" />
    <meta
      property="twitter:card"
      content="summary_large_image"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"/>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"/>

</head>
<body>
    <div>
      <div class="home-container">

        <div id="board">
            <img
                src="../../board1.svg"
                alt="image"
                class="home-image"/>
        </div>

        <div class="home-hero"
          ><div class="home-container1"
            ><div class="home-card"
              ><h1 class="home-text HeadingOne">Ждем остальных</h1
              ><span class="home-text1"
                ><span
                  >Создатель комнаты присылает игрокам приглашение. Приглашение
                  действует до первого присоединения, и позволяет зайти в
                  комнату&nbsp; в качестве игрока </span
                ><br /></span>
                <div id="horizontalSides" class="hidden">
                    
                </div>
                <div id="sidesList" class="hidden">

                  <div id="firstSide" class="home-container2">
                    <svg
                      fill="red"
                      height="50px"
                      version="1.1"
                      viewBox="0, 0, 400,400"
                      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:svg="http://www.w3.org/2000/svg">
                     <path
                        d="m 93.006922,354.56215 c -1.713536,-1.30607 -2.044146,-2.1258 -2.311292,-5.73071 -0.297985,-4.02106 0.344518,-16.12391 1.100887,-20.73743 2.831104,-17.26853 10.890153,-24.59497 31.993953,-29.08555 5.64813,-1.20183 11.0839,-1.86874 22.85766,-2.80434 2.76216,-0.21949 7.74334,-0.6469 11.06931,-0.94978 13.9453,-1.26998 34.1127,-1.54321 67.31155,-0.91193 22.81936,0.43393 40.92711,2.04093 53.99047,4.79153 7.57216,1.59436 10.19207,2.41418 13.94769,4.36448 12.92517,6.71205 17.87242,16.90136 18.40978,37.91662 0.21912,8.56909 -0.1007,11.23256 -1.51305,12.6034 -0.75645,0.73418 -1.4158,0.88137 -5.09633,1.13766 -2.3251,0.16191 -50.64618,0.30505 -107.38018,0.3181 l -103.152722,0.0237 z"
                        id="path7" />
                     <path  
                       d="m 119.9568,291.07714 c -0.6888,-0.46788 -2.34519,-2.29092 -3.68087,-4.05121 C 108.37462,276.61264 106.1868,274.15747 87.749621,255.0134 57.71627,223.82855 50.885576,210.69142 52.319059,186.87156 c 0.920806,-15.30084 4.542792,-27.09304 11.618232,-37.82582 8.378994,-12.71014 21.844643,-21.89616 38.953569,-26.57342 5.38415,-1.47193 9.81618,-1.98969 17.0144,-1.9877 15.47652,0.004 28.17035,2.24198 46.89187,8.26618 7.11258,2.2887 8.06563,2.36955 9.31089,0.78996 1.04823,-1.32966 1.9545,-4.37536 4.3419,-14.5916 1.39852,-5.98459 2.23907,-8.92453 2.36574,-10.99613 0.18916,-3.09293 0.1628,-3.24451 -0.7033,-4.047013 -1.22754,-1.137405 -4.09029,-1.546146 -13.05576,-1.475294 -13.50037,0.10669 -10.83355,-0.860954 -11.19221,-15.078905 -0.27718,-10.98786 -0.009,-15.371551 1.02357,-16.765463 1.31055,-1.7682 2.11162,-1.914492 12.23762,-2.234821 5.21529,-0.16498 10.08681,-0.462659 10.82562,-0.661506 2.44083,-0.656944 2.52366,-1.007577 2.83724,-12.009647 0.15359,-5.38909 -0.42588,-10.42777 -0.21826,-11.197066 0.70668,-2.618613 1.77929,-2.653102 16.07586,-2.653102 6.8881,0 12.96218,0.122443 13.49793,0.272096 1.51888,0.424266 2.36136,1.589852 2.61065,3.611903 0.12399,1.005683 0.33723,5.856714 0.47388,10.780067 0.26823,9.664455 0.44014,10.484034 2.35115,11.208995 0.45437,0.172362 5.31681,0.453482 10.80545,0.624708 11.19998,0.349399 11.67616,0.452441 12.84195,2.778872 0.67355,1.34412 0.71565,2.142192 0.71565,13.567222 0,16.828624 1.99668,17.650787 -10.91363,17.788262 -4.03651,0.04298 -8.13119,0.615108 -9.75201,0.63362 l -2.94697,0.03366 -0.96396,1.453412 -0.96395,1.45341 0.77731,3.27727 c 0.42752,1.80251 0.74208,3.90409 1.34719,6.93565 1.54245,7.72742 3.73665,16.25403 4.53274,17.6141 1.10619,1.88986 2.09372,1.99677 5.90516,0.63928 1.82428,-0.64974 5.57116,-1.95866 8.3264,-2.90872 45.17041,-15.57561 83.88659,-5.11116 100.50177,27.16423 5.89868,11.45834 8.52653,22.83106 8.57979,37.13135 l 0.0259,6.96213 -1.71073,6.6051 c -1.98273,7.65529 -3.62136,11.79725 -6.72168,16.99038 -5.31795,8.9077 -10.97244,15.52002 -31.11523,36.38592 -12.96913,13.43474 -16.93837,17.84465 -21.01206,23.34485 -4.2163,5.69281 -6.06014,7.83301 -7.29905,8.47225 -1.2014,0.61989 -4.01829,0.56835 -9.93914,-0.18186 -1.47603,-0.18702 -7.51431,-0.51717 -13.4184,-0.73367 -5.90408,-0.2165 -12.10339,-0.54581 -13.7762,-0.7318 -11.16467,-1.24134 -64.15773,-1.64954 -78.18447,-0.60224 -4.32966,0.32327 -11.81714,0.84074 -16.6388,1.14994 -4.82167,0.3092 -11.18198,0.88747 -14.13404,1.28502 -2.95203,0.39757 -7.13859,0.80596 -9.30341,0.90753 -3.71544,0.17432 -4.00626,0.13698 -5.18845,-0.66602 z m 131.91226,-46.40587 c 1.03953,-0.60975 3.65815,-3.20692 7.01965,-6.96212 2.94888,-3.29427 7.45276,-7.74055 10.65678,-11.17698 11.1927,-12.00459 13.5556,-16.68478 16.48825,-22.49826 3.33985,-6.62066 4.70203,-10.29057 2.25978,-17.75217 -2.46393,-7.5279 -7.75877,-11.20641 -17.31592,-14.09042 -4.46649,-1.34782 -9.66323,-1.95965 -15.17293,-0.72857 -7.99866,1.78721 -16.74072,5.52523 -21.77653,9.31143 -2.98661,2.2455 -4.71822,3.04637 -5.30121,5.0746 -0.21473,0.74711 -0.34955,12.46508 -0.34955,30.38161 l 0.53033,28.10476 0.984,0.69154 c 0.54121,0.38035 1.38658,0.81825 1.87857,0.97313 1.62276,0.5108 6.88322,0.81194 13.23948,0.7579 6.1271,-0.0521 5.23696,-1.13486 6.8593,-2.08645 z m -83.81234,1.54043 c 2.19144,-0.27097 2.65164,-2.16111 3.8309,-2.02675 l 0.87331,0.0995 0.45361,-28.76729 -0.99593,-29.14356 -0.99852,-1.69495 c -3.67047,-6.23049 -16.40066,-12.35471 -29.07603,-13.6363 -5.98178,-0.6048 -11.61375,0.483 -17.69967,3.41864 -6.1079,2.94626 -10.16169,7.91547 -12.03383,14.75128 -0.96725,3.53177 -0.36669,9.23509 0.67737,12.23096 2.36907,6.79782 5.38221,10.56901 17.79334,23.9 3.29073,3.53462 7.96699,9.07754 10.93184,12.31761 6.64481,7.26164 7.20637,7.79012 8.92891,8.40283 1.70797,0.60753 12.82974,0.70262 17.3147,0.14805 z"
                        id="path9"
                        sodipodi:nodetypes="scsssscssssssscssscsssssssssscccssssssscsssssssssssssssssssssssscsssssscccssssssssss" />
                     <path
                        id="path2"
                        d="m 187.4512,39.775831 c -2.32,1.145 -2.6875,1.422 -2.9055,13.076 -0.26,13.917 1.5065,12.448 -12.2745,12.715 -15.145,0.293 -14.283,-0.732 -14.124,16.795 0.154,16.929 -0.569,15.995 12.391,16.01 14.721,0.016 14.172,-0.834 10.339,15.990009 -4.293,18.84299 -3.962,18.414 -12.019,15.56899 -6.618,-2.337 -16.099,-5.023 -20.311,-5.754 -1.998,-0.346 -5.31,-0.978 -7.361,-1.403 -8.186,-1.699 -26.67,-2.072 -32.928,-0.665 -33.975003,7.636 -53.008001,30.876 -54.425001,66.453 -0.933,23.449 6.291001,36.707 37.380998,68.6 16.836003,17.27 18.598003,19.279 26.844003,30.613 2.939,4.04 4.552,4.363 14.2,2.844 3.52,-0.554 9.82,-1.199 14,-1.434 4.18,-0.235 8.86,-0.525 10.4,-0.644 16.153,-1.252 19.662,-1.373 40,-1.374 19.481,-10e-4 46.032,0.796 47.029,1.413 0.182,0.113 5.875,0.367 12.651,0.565 8.35,0.244 13.48,0.574 15.92,1.025 7.154,1.321 8.066,0.881 13.079,-6.3 4.58,-6.561 11.124,-13.881 25.126,-28.108 23.439,-23.815 31.5,-35.293 34.411,-49 0.49,-2.31 1.061,-4.65 1.267,-5.2 1.456,-3.873 1.011,-17.853 -0.851,-26.745 -6.61,-31.571 -28.871,-51.368 -59.954,-53.316 -16.809,-1.054 -36.671,2.477 -54.824,9.745 -4.468,1.789 -5.363,1.244 -6.824,-4.152 -1.146,-4.237 -3.144,-13.17599 -3.841,-17.18799 -0.33,-1.9 -0.866,-4.33001 -1.19,-5.40001 -0.814,-2.683 -0.751,-3.523 0.366,-4.821999 l 0.965,-1.122 10.335,-0.2 c 14.495,-0.28 13.335,1.164 13.335,-16.607 0,-17.297 1.255,-15.856 -14.087,-16.173 -13.577,-0.28 -12.056,1.242 -12.323,-12.333 -0.232,-11.741 -0.36,-12.402 -2.606,-13.468 -1.895,-0.899 -25.37,-0.904 -27.191,-0.005 m 25.642,3.508 c 0.964,1.121 0.965,1.136 0.966,11 0.001,14.878 -0.677,14.197 14.414,14.478 13.579,0.252 12.147,-0.97 12.314,10.513 0.242,16.618 1.296,15.234 -11.796,15.487 -14.707,0.285 -16.386,1.669 -13.543,11.166999 0.545,1.81901 1.194,4.86601 1.444,6.77001 0.25,1.905 0.873,4.757 1.385,6.338 0.513,1.58199 1.116,4.19199 1.341,5.79999 0.951,6.797 3.56,11.525 6.36,11.525 0.556,0 3.007,-0.799 5.446,-1.775 4.069,-1.629 8.701,-3.18 17.907,-5.995 1.911,-0.584 5.425,-1.319 7.809,-1.632 2.384,-0.313 5.951,-0.956 7.926,-1.429 6.256,-1.499 21.904,-1.289 28.571,0.383 2.739,0.686 5.322,1.248 5.74,1.248 0.957,0 7.789,2.742 11.598,4.655 8.321,4.178 16.03,11.079 19.152,17.145 3.723,7.231 7.131,18.583 7.131,23.75 0,1.185 0.286,3.951 0.635,6.147 0.513,3.228 0.548,4.464 0.181,6.448 -0.249,1.35 -0.608,4.536 -0.797,7.078 -0.582,7.798 -4.066,17.624 -8.864,24.995 l -3.634,5.582 -30.46,30.484 c -25.15,25.169 -30.81,30.642 -32.461,31.385 -2.932,1.321 -9.363,1.462 -17.2,0.377 -12.175,-1.685 -79.32,-2.568 -85.2,-1.121 -1.914,0.472 -6.47,0.867 -14.4,1.251 -9.938,0.481 -12.231,0.714 -16,1.625 -5.337,1.29 -5.859,1.158 -8.271,-2.08 -4.901,-6.581 -12.302,-14.957 -21.312003,-24.121 -16.816,-17.102 -20.646,-21.184 -25.148,-26.8 -7.513,-9.372 -12.188997,-17.422 -15.177997,-26.127 l -1.673,-4.873 0.01,-13.2 0.011,-13.19999 1.231,-3.80001 c 0.676,-2.09 1.365,-4.43 1.529,-5.19999 3.703,-17.351 24.100997,-36.762 43.037,-40.953 1.41,-0.312 3.988,-0.945 5.728,-1.407 5.619,-1.492 22.55,-1.086 30.236,0.725 1.87,0.44 4.93,0.987 6.8,1.214 1.87,0.226 5.02,0.879 7,1.449 6.856,1.973 14.01,4.263 16.266,5.206 6.91,2.889 9.902,1.92199 11.143,-3.6 0.251,-1.119 0.882,-3.384 1.402,-5.034 0.519,-1.65001 1.149,-4.40901 1.399,-6.13 0.249,-1.722 0.799,-4.133 1.22,-5.358 0.422,-1.225 0.958,-3.417 1.193,-4.87 0.234,-1.453 0.716,-3.93901 1.07,-5.52401 1.614,-7.217999 -0.602,-8.491999 -14.793,-8.507999 -11.659,-0.013 -10.833,1.115 -10.626,-14.5 0.166,-12.498 -1.161,-11.25 12.236,-11.51 14.921,-0.29 14.178,0.452 14.481,-14.459 0.276,-13.564 -1.236,-12.278 14.344,-12.194 l 9.735,0.053 0.965,1.122 m -79.435,123.039999 c -2.077,0.483 -7.557,2.051 -9.498,2.719 -9.637,3.314 -16.651,13.795 -16.678,24.919 l -0.012,5.4 1.755,4.35 c 2.911,7.216 6.687,12.152 20.277,26.507 4.761,5.029 10.353,11.16301 12.428,13.632 6.434,7.655 5.943,7.482 19.666,6.90601 11.728,-0.492 13.223,-0.82201 15.041,-3.32401 0.901,-1.241 1.062,-57.327 0.176,-61.416 -1.369,-6.318 -14.924,-15.876 -25.11,-17.70599 -1.235,-0.22201 -3.415,-0.765 -4.845,-1.207 -2.858,-0.88301 -10.748,-1.349 -13.2,-0.78 m 120.4,1.517 c -6.555,1.53899 -7.84,1.99299 -13.533,4.78299 -6.583,3.226 -12.752,7.719 -14.364,10.462 l -1.103,1.876 v 30.4 c 0,37.91401 -1.266,34.135 11.6,34.634 4.18,0.162 8.606,0.422 9.835,0.578 5.053,0.64 6.693,-0.392 14.329,-9.014 1.85,-2.089 5.99,-6.585 9.2,-9.991 17.364,-18.424 21.318,-23.906 22.617,-31.359 1.628,-9.342 0.006,-16.767 -5.018,-22.977 -6.791,-8.393 -20.95,-12.355 -33.563,-9.392 m -107,3.464 c 12.128,2.433 24.942,9.958 26.073,15.311 0.18,0.85 0.327,14.187 0.327,29.637 v 28.091 l -1.073,1.073 c -1.274,1.274 -4.885,1.693 -14.873,1.726 -7.519,0.024 -7.441,0.065 -13.9,-7.314 -2.712,-3.098 -8.021,-8.881 -11.798,-12.85 -18.555,-19.499 -22.581,-27.338 -19.75,-38.453 3.575,-14.038 18.68321,-20.37925 34.994,-17.221 m 121.4,-0.332 c 14.41,2.307 22.547,11.789 21.445,24.989 -0.749,8.964 -3.856,13.573 -22.645,33.585 -3.63,3.86601 -8.432,9.11501 -10.671,11.66301 -5.612,6.38599 -4.905,6.14099 -16.387,5.691 -10.293,-0.403 -11.12,-0.625 -11.824,-3.166 -0.519,-1.87701 0.10617,-57.32461 0.64417,-58.30961 1.132,-2.072 7.44183,-7.05839 12.51383,-9.60839 9.18,-4.616 18.203,-6.23901 26.924,-4.844 m -98.8,124.206 c -2.97,0.188 -8.55,0.622 -12.4,0.964 -3.85,0.342 -10.85,0.9 -15.556,1.239 -4.707,0.33999 -9.927,0.87099 -11.6,1.18 -8.032,1.485 -10.131,1.951 -13.844,3.072 -17.966003,5.428 -23.940003,15.20299 -24.283003,39.728 -0.128,9.201 0.012,9.935 2.212,11.564 l 1.13,0.836 103.870003,0.119 c 110.947,0.126 107.52,0.172 109.304,-1.452 2.976,-2.707 1.62,-24.63 -2.071,-33.495 -4.042,-9.711 -13.849,-16.704 -26.289,-18.748 -1.91,-0.314 -5.003,-0.944 -6.873,-1.4 -2.156,-0.527 -7.205,-1.126 -13.8,-1.638 -5.72,-0.444 -13.01,-1.085 -16.2,-1.425 -6.74,-0.718 -64.157,-1.142 -73.6,-0.544 m 63.804,2.995 c 4.178,0.336 9.126,0.786 10.996,1 1.87,0.214 7.45,0.577 12.4,0.806 7.068,0.328 9.932,0.632 13.344,1.416 2.389,0.55 5.784,1.18 7.546,1.401 6.009,0.753 14.54,4.257 18.786,7.715 6.183,5.037 8.218,10.727 9.714,27.157 0.887,9.746 0.845,10.85 -0.444,11.864 l -1.054,0.829 H 200.9862 97.222197 l -1.019,-1.018 -1.018,-1.019 0.152,-9.481 0.152,-9.482 1.524,-5 c 3.880003,-12.732 12.303003,-19.448 26.617003,-21.22 1.885,-0.233 5.948,-0.854 9.028,-1.38 3.426,-0.585 8.163,-1.05 12.2,-1.198 7.354,-0.27 18.016,-1.11 25.6,-2.016 7.087,-0.848 6.62,-0.834 32.204,-0.914 17.782,-0.055 24.979,0.071 30.8,0.54"
                        fill-rule="evenodd"
                        sodipodi:nodetypes="cccccsccccccccscscsccccccccccccccscccccccccccccsccsccsccsscccccccccsccsccccccccccccccccccccccccccccccscccscccccccscccccccccscscccccccccccccccscccccccccccscccscccccccccccccccccccc"
                        style="display:inline;fill:black;fill-opacity:0.3" />
                     <path
                        d="m 267.77522,170.36906 c 12.41361,2.37657 19.25632,8.05901 21.80494,18.10838 2.83502,11.17881 -1.1967,19.06282 -19.77806,38.67377 -3.78237,3.99179 -9.09891,9.80799 -11.81476,12.92378 -6.46818,7.42137 -6.39007,7.38013 -13.91975,7.35599 -10.00219,-0.0332 -13.61832,-0.45459 -14.89413,-1.73591 l -1.07453,-1.07916 v -28.25228 c 0,-15.5387 0.14721,-28.95228 0.32747,-29.80716 1.73646,-8.2511 26.84608,-18.58107 39.34882,-16.18741 m -6.48736,9.41695 c -0.72253,0.12652 -2.99249,0.42393 -4.64183,0.66632 -4.2913,0.54493 -13.49965,2.83893 -17.04704,5.27003 l -0.90128,0.81364 -0.37553,25.56444 c -0.22929,15.60842 -0.1584,24.95278 0.23516,24.94675 0.27539,-0.004 8.2124,0.67162 10.52568,-1.80452 2.31328,-2.47714 13.86467,-13.87118 18.326,-18.55995 4.46133,-4.68977 8.11151,-8.65239 8.11151,-8.80627 0,-0.15488 0.83619,-1.21292 1.85864,-2.35142 9.59962,-15.10574 -0.88758,-23.37421 -9.94243,-25.31227"
                        fill="black"
                        id="path1-1" />
                     <path
                        id="path0"
                        d="m 192.28895,32.577735 -9.96875,0.645701 a 3.4998379,3.4998379 132.84515 0 0 -3.27342,3.529393 l 0.23207,22.024998 -24.28979,0.08171 a 4.0999519,4.0999519 134.9859 0 0 -4.08614,4.088154 l -0.10623,36.988795 a 5.5143938,5.5143938 45.004679 0 0 5.5293,5.530211 l 12.40061,-0.0336 a 2.719991,2.719991 51.728146 0 1 2.65096,3.3601 l -2.59747,10.72724 c -0.35833,1.47988 -1.85131,2.40094 -3.33467,2.0573 -5.96349,-1.38152 -20.36887,-4.71818 -27.8187,-6.43932 -1.04835,-0.2422 -2.73689,-0.69283 -3.79994,-0.84938 -6.16101,-0.90729 -22.08155,-0.91152 -29.19751,0.26409 -60.046587,19.08468 -70.856292,73.123 -47.601108,114.68105 8.33746,14.89942 29.099738,34.04825 39.618304,47.5605 4.993064,6.41414 9.577594,12.35327 14.230994,16.82911 -32.793826,11.88489 -29.949405,42.41154 -28.915396,68.86144 0.0074,0.18972 0.167276,0.34073 0.357175,0.33738 46.697291,-0.82308 207.090201,1.17792 237.746061,-1.00072 1.57928,-62.26066 -13.73661,-59.27488 -29.49068,-68.81834 13.92331,-15.70027 25.74992,-30.00103 36.98572,-41.23777 64.09588,-64.10121 9.00951,-155.808144 -72.92166,-134.17571 -0.209,0.199 -20.25956,3.34317 -21.79956,3.41917 l -3.32481,-13.84585 a 1.9065712,1.9065712 128.50637 0 1 1.87103,-2.35167 l 16.30062,0.14668 a 3.091855,3.091855 135.21247 0 0 3.11967,-3.09662 l -0.0585,-37.004492 a 6.4952529,6.4952529 45.227143 0 0 -6.43348,-6.48469 l -15.43408,-0.146779 a 5.92026,5.92026 45.048792 0 1 -5.86378,-5.873776 L 222.88745,35.91345 a 3.0562288,3.0562288 45.92256 0 0 -2.93388,-3.029924 l -10.1588,-0.406671 M 214.584,39.819 c 2.246,1.066 2.374,1.727 2.606,13.468 0.267,13.575 -1.254,12.053 12.323,12.333 15.342,0.317 14.087,-1.124 14.087,16.173 0,17.771 1.16,16.327 -13.335,16.607 l -10.335,0.2 -0.965,1.122 c -1.117,1.299 -1.18,2.139 -0.366,4.822 0.324,1.07 0.86,3.5 1.19,5.4 0.697,4.012 2.695,12.951 3.841,17.188 1.461,5.396 2.356,5.941 6.824,4.152 57.796,-23.14 104.525,-5.401 114.778,43.571 1.862,8.892 2.307,22.872 0.851,26.745 -0.206,0.55 -0.777,2.89 -1.267,5.2 -2.911,13.707 -10.972,25.185 -34.411,49 -14.002,14.227 -20.546,21.547 -25.126,28.108 -5.013,7.181 -5.925,7.621 -13.079,6.3 -2.44,-0.451 -7.57,-0.781 -15.92,-1.025 -6.776,-0.198 -12.469,-0.452 -12.651,-0.565 -0.997,-0.617 -27.548,-1.414 -47.029,-1.413 -20.338,0.001 -23.847,0.122 -40,1.374 -1.54,0.119 -6.22,0.409 -10.4,0.644 -4.18,0.235 -10.48,0.88 -14,1.434 -9.648,1.519 -11.261,1.196 -14.2,-2.844 C 109.754,276.479 107.992,274.47 91.156,257.2 60.066,225.307 52.842,212.049 53.775,188.6 c 1.417,-35.577 20.45,-58.817 54.425,-66.453 6.258,-1.407 24.742,-1.034 32.928,0.665 2.051,0.425 5.363,1.057 7.361,1.403 4.212,0.731 13.693,3.417 20.311,5.754 8.057,2.845 7.726,3.274 12.019,-15.569 3.833,-16.824 4.382,-15.974 -10.339,-15.99 -12.96,-0.015 -12.237,0.919 -12.391,-16.01 -0.159,-17.527 -1.021,-16.502 14.124,-16.795 13.781,-0.267 12.327,1.202 12.587,-12.715 0.218,-11.654 0.273,-11.931 2.593,-13.076 1.821,-0.899 25.296,-0.894 27.191,0.005 m -80.804,130.74 c -12.396,2.363 -19.229,8.013 -21.774,18.005 -2.831,11.115 1.195,18.954 19.75,38.453 3.777,3.969 9.086,9.752 11.798,12.85 6.459,7.379 6.381,7.338 13.9,7.314 9.988,-0.033 13.599,-0.452 14.873,-1.726 l 1.073,-1.073 v -28.091 c 0,-15.45 -0.147,-28.787 -0.327,-29.637 -1.734,-8.204 -26.808,-18.475 -39.293,-16.095 m 6.47816,9.36319 c 0.7215,0.1258 2.98824,0.42151 4.63524,0.66251 4.28521,0.54182 13.4805,2.82273 17.02286,5.23995 l 0.9,0.809 0.375,25.4185 c 0.22896,15.51931 0.15817,24.81033 -0.23483,24.80433 -0.275,-0.004 -8.20075,0.66779 -10.51075,-1.79421 -2.31,-2.463 -13.845,-13.792 -18.3,-18.454 -4.455,-4.663 -8.1,-8.603 -8.1,-8.756 0,-0.154 -0.835,-1.206 -1.856,-2.338 -9.586,-15.0195 0.88632,-23.24077 9.92832,-25.16777 M 243.2,295.761 c 3.19,0.34 10.48,0.981 16.2,1.425 6.595,0.512 11.644,1.111 13.8,1.638 1.87,0.456 4.963,1.086 6.873,1.4 12.44,2.044 22.247,9.037 26.289,18.748 3.691,8.865 5.047,30.788 2.071,33.495 -1.784,1.624 1.643,1.578 -109.304,1.452 l -103.87,-0.119 -1.13,-0.836 c -2.2,-1.629 -2.34,-2.363 -2.212,-11.564 0.343,-24.525 6.317,-34.3 24.283,-39.728 3.713,-1.121 5.812,-1.587 13.844,-3.072 1.673,-0.309 6.893,-0.84 11.6,-1.18 4.706,-0.339 11.706,-0.897 15.556,-1.239 13.457,-1.196 18.022,-1.305 49,-1.172 24.616,0.106 32.424,0.265 37,0.752"
                        fill="black"
                        sodipodi:nodetypes="cccccccccsccccscccccccccccscccccccccccccscscsccccccccscccccccscccscsccccccscccsccccsccccccccccccc"
                        inkscape:original-d="m 192.28895,32.577735 -13.2771,0.859991 0.267,25.340101 -28.36423,0.09542 -0.13386,46.608473 21.41268,-0.058 -4.06217,16.77628 c 0,0 -24.13847,-5.59295 -32.40282,-7.49989 -3.65438,-1.29619 -23.03312,-1.47954 -31.09918,-0.14697 -72.745663,23.12084 -73.226311,97.54317 -28.419272,138.92474 14.58378,13.46886 24.459922,30.32787 34.667462,40.14592 -32.935898,11.93638 -29.924091,42.67639 -28.902062,69.20497 46.248232,-0.83914 207.358342,1.17715 238.089902,-1.00687 1.57928,-62.26066 -13.73661,-59.27488 -29.49068,-68.81834 13.92331,-15.70027 25.74992,-30.00103 36.98572,-41.23777 64.09588,-64.10121 9.00951,-155.808144 -72.92166,-134.17571 -0.209,0.199 -20.25956,3.34317 -21.79956,3.41917 l -3.89479,-16.21948 21.86624,0.19675 -0.0736,-46.552826 -27.67576,-0.263198 -0.1965,-25.170433 -13.06994,-0.523208 M 214.584,39.819 c 2.246,1.066 2.374,1.727 2.606,13.468 0.267,13.575 -1.254,12.053 12.323,12.333 15.342,0.317 14.087,-1.124 14.087,16.173 0,17.771 1.16,16.327 -13.335,16.607 l -10.335,0.2 -0.965,1.122 c -1.117,1.299 -1.18,2.139 -0.366,4.822 0.324,1.07 0.86,3.5 1.19,5.4 0.697,4.012 2.695,12.951 3.841,17.188 1.461,5.396 2.356,5.941 6.824,4.152 57.796,-23.14 104.525,-5.401 114.778,43.571 1.862,8.892 2.307,22.872 0.851,26.745 -0.206,0.55 -0.777,2.89 -1.267,5.2 -2.911,13.707 -10.972,25.185 -34.411,49 -14.002,14.227 -20.546,21.547 -25.126,28.108 -5.013,7.181 -5.925,7.621 -13.079,6.3 -2.44,-0.451 -7.57,-0.781 -15.92,-1.025 -6.776,-0.198 -12.469,-0.452 -12.651,-0.565 -0.997,-0.617 -27.548,-1.414 -47.029,-1.413 -20.338,0.001 -23.847,0.122 -40,1.374 -1.54,0.119 -6.22,0.409 -10.4,0.644 -4.18,0.235 -10.48,0.88 -14,1.434 -9.648,1.519 -11.261,1.196 -14.2,-2.844 C 109.754,276.479 107.992,274.47 91.156,257.2 60.066,225.307 52.842,212.049 53.775,188.6 c 1.417,-35.577 20.45,-58.817 54.425,-66.453 6.258,-1.407 24.742,-1.034 32.928,0.665 2.051,0.425 5.363,1.057 7.361,1.403 4.212,0.731 13.693,3.417 20.311,5.754 8.057,2.845 7.726,3.274 12.019,-15.569 3.833,-16.824 4.382,-15.974 -10.339,-15.99 -12.96,-0.015 -12.237,0.919 -12.391,-16.01 -0.159,-17.527 -1.021,-16.502 14.124,-16.795 13.781,-0.267 12.327,1.202 12.587,-12.715 0.218,-11.654 0.273,-11.931 2.593,-13.076 1.821,-0.899 25.296,-0.894 27.191,0.005 m -80.804,130.74 c -12.396,2.363 -19.229,8.013 -21.774,18.005 -2.831,11.115 1.195,18.954 19.75,38.453 3.777,3.969 9.086,9.752 11.798,12.85 6.459,7.379 6.381,7.338 13.9,7.314 9.988,-0.033 13.599,-0.452 14.873,-1.726 l 1.073,-1.073 v -28.091 c 0,-15.45 -0.147,-28.787 -0.327,-29.637 -1.734,-8.204 -26.808,-18.475 -39.293,-16.095 m 6.47816,9.36319 c 0.7215,0.1258 2.98824,0.42151 4.63524,0.66251 4.28521,0.54182 13.4805,2.82273 17.02286,5.23995 l 0.9,0.809 0.375,25.4185 c 0.22896,15.51931 0.15817,24.81033 -0.23483,24.80433 -0.275,-0.004 -8.20075,0.66779 -10.51075,-1.79421 -2.31,-2.463 -13.845,-13.792 -18.3,-18.454 -4.455,-4.663 -8.1,-8.603 -8.1,-8.756 0,-0.154 -0.835,-1.206 -1.856,-2.338 -9.586,-15.0195 0.88632,-23.24077 9.92832,-25.16777 M 243.2,295.761 c 3.19,0.34 10.48,0.981 16.2,1.425 6.595,0.512 11.644,1.111 13.8,1.638 1.87,0.456 4.963,1.086 6.873,1.4 12.44,2.044 22.247,9.037 26.289,18.748 3.691,8.865 5.047,30.788 2.071,33.495 -1.784,1.624 1.643,1.578 -109.304,1.452 l -103.87,-0.119 -1.13,-0.836 c -2.2,-1.629 -2.34,-2.363 -2.212,-11.564 0.343,-24.525 6.317,-34.3 24.283,-39.728 3.713,-1.121 5.812,-1.587 13.844,-3.072 1.673,-0.309 6.893,-0.84 11.6,-1.18 4.706,-0.339 11.706,-0.897 15.556,-1.239 13.457,-1.196 18.022,-1.305 49,-1.172 24.616,0.106 32.424,0.265 37,0.752"
                         />
                    </svg>
                    <svg
                      display="none"
                      xmlns="http://www.w3.org/2000/svg" 
                      height="20px"
                      viewBox="0 0 24 24" 
                      class="sideReadyFlag"
                      fill="white">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7071 6.29289C20.0976 6.68342 20.0976 7.31658 19.7071 7.70711L10.4142 17C9.63316 17.7811 8.36683 17.781 7.58579 17L3.29289 12.7071C2.90237 12.3166 2.90237 11.6834 3.29289 11.2929C3.68342 10.9024 4.31658 10.9024 4.70711 11.2929L9 15.5858L18.2929 6.29289C18.6834 5.90237 19.3166 5.90237 19.7071 6.29289Z"/>
                    </svg>
                    <svg 
                      display="none"
                      xmlns="http://www.w3.org/2000/svg" 
                      fill="green" 
                      class="sideReadyFlag"
                      height="24px" 
                      viewBox="0 0 24 24">
                      <path d="M2.305,11.235a1,1,0,0,1,1.414.024l3.206,3.319L14.3,7.289A1,1,0,0,1,15.7,8.711l-8.091,8a1,1,0,0,1-.7.289H6.9a1,1,0,0,1-.708-.3L2.281,12.649A1,1,0,0,1,2.305,11.235ZM20.3,7.289l-7.372,7.289-.263-.273a1,1,0,1,0-1.438,1.39l.966,1a1,1,0,0,0,.708.3h.011a1,1,0,0,0,.7-.289l8.091-8A1,1,0,0,0,20.3,7.289Z"/>
                    </svg>
                      
                    <span class="home-text4">linktext.com/room/3453/uonafy738n</span>
                    <button type="button" class="home-button button">
                      <svg class="copybutton" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24" fill="white">
                        <path d="M16 12.9V17.1C16 20.6 14.6 22 11.1 22H6.9C3.4 22 2 20.6 2 17.1V12.9C2 9.4 3.4 8 6.9 8H11.1C14.6 8 16 9.4 16 12.9Z"/>
                        <path d="M17.0998 2H12.8998C9.81668 2 8.37074 3.09409 8.06951 5.73901C8.00649 6.29235 8.46476 6.75 9.02167 6.75H11.0998C15.2998 6.75 17.2498 8.7 17.2498 12.9V14.9781C17.2498 15.535 17.7074 15.9933 18.2608 15.9303C20.9057 15.629 21.9998 14.1831 21.9998 11.1V6.9C21.9998 3.4 20.5998 2 17.0998 2Z"/>
                      </svg>
                    </button>
                  </div>


                </div>

                <div id="buttons" class="home-container3">

                    <div id="ready-button-container" class="hidden outline-gray-button-root-class-name">
                        <button id="ready-button" class="outline-gray-button-button button ButtonSmall" onclick="readyClick()">
                            <span>Готов</span>
                        </button>
                    </div>

                </div>
                
            </div
            ></div
          ></div
        ></div
      ></div
    >

  </body>

<!--script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script-->
<script src='../../js/node_modules/socket.io-client/dist/socket.io.min.js'></script>
<script>
    let roomEl = <%- JSON.stringify(roomEl) %>
    const currentUserSideIndex = parseInt('<%= userSideIndex %>')
    const isItCreator = '<%= isItCreator %>' === 'true' ? true : false
</script>
<script src="../../js/room.js"></script>
</html>